atrium-api/src/app.rs linguist-generated=true
atrium-api/src/app/** linguist-generated=true
atrium-api/src/com.rs linguist-generated=true
atrium-api/src/com/** linguist-generated=true
atrium-api/src/tools.rs linguist-generated=true
atrium-api/src/tools/** linguist-generated=true
atrium-api/src/client.rs linguist-generated=true
atrium-api/src/records.rs linguist-generated=true
