[workspace]
members = [
    "atrium-api",
    "atrium-cli",
    "atrium-libs",
    "atrium-xrpc",
    "atrium-xrpc-client",
]
# Examples show how to use the latest published crates, not the workspace state.
exclude = [
    "examples/concurrent",
    "examples/firehose",
]
resolver = "2"

[workspace.package]
edition = "2021"
rust-version = "1.70"
repository = "https://github.com/sugyan/atrium"
license = "MIT"
keywords = ["atproto", "bluesky"]

[workspace.dependencies]
# Intra-workspace dependencies
atrium-api = { version = "0.21.0", path = "atrium-api" }
atrium-xrpc = { version = "0.10.5", path = "atrium-xrpc" }
atrium-xrpc-client = { version = "0.5.2", path = "atrium-xrpc-client" }

# async in traits
# Can be removed once MSRV is at least 1.75.0.
async-trait = "0.1.80"

# DAG-CBOR codec
ipld-core = { version = "0.4.0", default-features = false, features = ["std"] }
serde_ipld_dagcbor = { version = "0.6.0", default-features = false, features = ["std"] }

# Parsing and validation
chrono = "0.4"
langtag = "0.3"
multibase = "0.9.1"
regex = "1"
serde = "1.0.199"
serde_bytes = "0.11.9"
serde_json = "1.0.96"
serde_html_form = "0.2.6"
urlencoding = "2.1.3"

# Networking
futures = { version = "0.3.30", default-features = false, features = ["alloc"] }
http = "1.1.0"
tokio = { version = "1.36", default-features = false }
url = "2.5.0"

# HTTP client integrations
isahc = "1.7.2"
reqwest = { version = "0.12", default-features = false }

# Errors
anyhow = "1.0.80"
thiserror = "1.0"

# CLI
clap = { version = "4.4.18", features = ["derive"] }
dirs = "5.0.1"

# Testing
mockito = "1.4"

# WebAssembly
wasm-bindgen-test = "0.3.41"
