[workspace]
members = [
    "atrium-api",
    "atrium-crypto",
    "atrium-xrpc",
    "atrium-xrpc-client",
    "bsky-cli",
    "bsky-sdk",
]
# Examples show how to use the latest published crates, not the workspace state.
exclude = [
    "examples/concurrent",
    "examples/firehose",
]
resolver = "2"

[workspace.package]
edition = "2021"
rust-version = "1.75"
repository = "https://github.com/sugyan/atrium"
license = "MIT"
keywords = ["atproto", "bluesky"]

[workspace.dependencies]
# Intra-workspace dependencies
atrium-api = { version = "0.24.4", path = "atrium-api" }
atrium-xrpc = { version = "0.11.3", path = "atrium-xrpc" }
atrium-xrpc-client = { version = "0.5.6", path = "atrium-xrpc-client" }
bsky-sdk = { version = "0.1.9", path = "bsky-sdk" }

# async in traits
# Can be removed once MSRV is at least 1.75.0.
async-trait = "0.1.80"

# DAG-CBOR codec
ipld-core = { version = "0.4.1", default-features = false, features = ["integer-max-i64"] }
serde_ipld_dagcbor = { version = "0.6.0", default-features = false, features = ["std"] }

# Parsing and validation
chrono = "0.4"
hex = "0.4.3"
langtag = "0.3"
multibase = "0.9.1"
regex = "1"
serde = "1.0.202"
serde_bytes = "0.11.9"
serde_json = "1.0.117"
serde_html_form = "0.2.6"

# Cryptography
ecdsa = "0.16.9"
k256 = { version = "0.13.3", default-features = false }
p256 = { version = "0.13.2", default-features = false }
rand = "0.8.5"

# Networking
futures = { version = "0.3.30", default-features = false, features = ["alloc"] }
http = "1.1.0"
tokio = { version = "1.37", default-features = false }

# HTTP client integrations
isahc = "1.7.2"
reqwest = { version = "0.12", default-features = false, features = ["gzip"] }

# Errors
anyhow = "1.0.86"
thiserror = "1.0"

# CLI
clap = { version = "~4.4.18", features = ["derive"] }
dirs = "5.0.1"

# Testing
mockito = "1.4"

# WebAssembly
wasm-bindgen-test = "0.3.41"
bumpalo = "~3.14.0"


[patch.crates-io]
ipld-core = { git = "https://github.com/ipld/rust-ipld-core", branch = "integer-max-i64-feature" }
